<h3 class="mt-20 mb-30 d-inline-block">Latest Post Activity</h3>
<div class="row">
    <div class="boxPosts">
        <div class="post row">
            <div class="col w-50 mr-20v vertical-align-middle">
                <img src="assets/img/item.jpg" class="img-fluid-100">
            </div>
            <div class="col p-10 position-r">
                <h4 class="">Minimalist Stairs</h4>
                <div class="boxInfo">
                    <div class="box boxlikes d-inline">
                        <span class="material-icons red">
                            favorite
                        </span>
                        <span class="num red">
                            2
                        </span>
                    </div>
                    <div class="box boxMessage d-inline">
                        <span class="material-icons azul">
                            sms
                            </span>
                        <span class="azul num">5</span>
                    </div>
                    <div class="box boxMessage d-inline">
                        <span class="material-icons azul">
                            bookmark
                        </span>
                        <span class="azul num">9</span>
                    </div>
                </div>
               
            </div>
        </div>
        <div class="row boxCenter mt-20">
            <h3 class="rose">See All posts</h3>
        </div>
    </div>
   
</div>

