<nav>
    <ul>
        <li>
            <a href="javascript:;"> 
                <span class="material-icons">
                    home
                </span>  
                <span>Home</span>
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <span class="material-icons">
                    sms
                </span> 
                <span>Messages</span>
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <span class="material-icons">
                    person
                </span> 
                <span>Profile</span>
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <span class="material-icons">
                    bookmark
                </span>
                <span>Save Post</span>
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <span class="material-icons">
                    settings
                </span>
                <span>Setting</span>
            </a>
        </li>
    </ul>
</nav>