  <!--boxProfiles-->
  <div class="profiles">
    <div class="boxProfile">
        <div class="img mr-0">
            <img src="assets/img/profile1.png">
        </div>
        <div class="texts d-inline ml-0 ">
            <p class="name font-weight-bold">You</p>
        </div>
    </div>
    <div class="boxProfile">
        <div class="img mr-0">
            <img src="assets/img/profile1.png">
        </div>
        <div class="texts d-inline ml-0 ">
            <p class="name font-weight-bold">Supardi</p>
        </div>
    </div>
    <div class="boxProfile">
        <div class="img mr-0">
            <img src="assets/img/profile1.png">
        </div>
        <div class="texts d-inline ml-0">
            <p class="name font-weight-bold">Dean</p>
        </div>
    </div>
    <div class="boxProfile">
        <div class="img mr-0">
            <img src="assets/img/profile1.png">
        </div>
        <div class="texts d-inline ml-0">
            <p class="name font-weight-bold">Teodore</p>
        </div>
    </div>
    <div class="boxProfile">
        <div class="img mr-0">
            <img src="assets/img/profile1.png">
        </div>
        <div class="texts d-inline ml-0">
            <p class="name font-weight-bold">Jesse</p>
        </div>
    </div>
    <div class="boxProfile">
        <div class="img mr-0">
            <img src="assets/img/profile1.png">
        </div>
        <div class="texts d-inline ml-0">
            <p class="name font-weight-bold">Michael</p>
        </div>
    </div>
  
</div><!--/boxProfiles-->

<!--boxFeeds-->
<div class="boxFeeds">
    <div class="row">
        <div class="col">
            <h3 class="left">Feeds</h3>
        </div>
        <div class="col right">
            <ul class="filter">
                <li>
                    All
                </li>
                <li>
                    Following
                </li>
                <li>
                    Newest
                </li>
                <li>
                    Popular
                </li>
            </ul>
        </div>
        
    </div>
</div><!--/boxFeeds-->

<!--box items-->
<div class="items">
    <!--item-->
    <div class="item">
        <div class="img">
            <img src="assets/img/item.jpg">
        </div>
        <div class="info">
            <div class="boxProfile">
                <div class="img mr-0">
                    <img src="assets/img/profile1.png">
                </div>
                <div class="texts">
                    <p class="name font-weight-bold">Michael</p>
                </div>
            </div>
            <div class="box boxlikes">
                <span class="material-icons red">
                    favorite
                </span>
                <span class="red">
                    65 
                </span>
            </div>
            <div class="box boxMessage right">
                <span class="material-icons azul">
                    sms
                </span>
                <span class="azul">65</span>
            </div>  
        </div>
    </div><!--/item-->
    <!--item-->
    <div class="item">
        <div class="img">
            <img src="assets/img/item2.jpg">
        </div>
        <div class="info">
            <div class="boxProfile">
                <div class="img mr-0">
                    <img src="assets/img/profile1.png">
                </div>
                <div class="texts">
                    <p class="name font-weight-bold">Jesse</p>
                </div>
            </div>
            <div class="box boxlikes">
                <span class="material-icons red">
                    favorite
                </span>
                <span class="red">
                    65 
                </span>
            </div>
            <div class="box boxMessage right">
                <span class="material-icons azul">
                    sms
                    </span>
                <span class="azul">65</span>
            </div>
        </div>
    </div><!--/item-->
    <!--item-->
    <div class="item">
        <div class="img">
            <img src="assets/img/item2.jpg">
        </div>
        <div class="info">
            <div class="boxProfile">
                <div class="img mr-0">
                    <img src="assets/img/profile1.png">
                </div>
                <div class="texts">
                    <p class="name font-weight-bold">Walter</p>
                </div>
            </div>
            <div class="box boxlikes">
                <span class="material-icons red">
                    favorite
                </span>
                <span class="red">
                    65 
                </span>
            </div>
            <div class="box boxMessage right">
                <span class="material-icons azul">
                    sms
                    </span>
                <span class="azul">65</span>
            </div>
        </div>
    </div><!--/item-->
    <!--item-->
    <div class="item">
        <div class="img">
            <img src="assets/img/item.jpg">
        </div>
        <div class="info">
            <div class="boxProfile">
                <div class="img mr-0">
                    <img src="assets/img/profile1.png">
                </div>
                <div class="texts">
                    <p class="name font-weight-bold">Theodore</p>
                </div>
            </div>
            <div class="box boxlikes">
                <span class="material-icons red">
                    favorite
                </span>
                <span class="red">
                    65 
                </span>
            </div>
            <div class="box boxMessage right">
                <span class="material-icons azul">
                    sms
                    </span>
                <span class="azul">65</span>
            </div>
        </div>
    </div><!--/item-->
</div><!--/box items-->